<div class="cards-container">
    <mat-card *ngFor="let registro of registros" class="card">
      <mat-card-header>
        <mat-card-title>{{ registro.descricao }}</mat-card-title>
        <mat-card-subtitle>Data: {{ registro.data | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="registro.tipoDeRegistro === 'entrada'">Entrada: {{ registro.valor | currency: 'BRL' }}</p>
        <p *ngIf="registro.tipoDeRegistro === 'saida'">Saída: {{ registro.valor | currency: 'BRL' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="disabledButton" mat-icon-button (click)="editarRegistro(registro)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletarRegistro(registro)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  