<div class="content" role="main">
  <app-header></app-header>
  <app-total-registros 
  [totalEntradasEsaidas]="totalEntradasESaidas"
  (mesRegistroEvent)="mesParaCarregarTabela($event)"></app-total-registros>
  <div>
    <p>Filtrar por Período</p>
    <app-input-date [dataNaformata]="dataNaoFormatada"></app-input-date>
    <button [disabled]="deveDesabilitarBotao('atualizar')" mat-raised-button (click)="openForm('salvar')">Inserir novo registro</button>
  </div>
  <app-formulario-registros 
  *ngIf="openFormRegistro"
  (submitEventDateNoFormmatter)="emitDateNoFormmatter($event)"
  (submitEventDateFormmatter)="submitForm($event)" [registro]="registro" [typeSubmit]="typeSubmit" ></app-formulario-registros>
  <app-list-register
  [disabledButton]="deveDesabilitarBotao('salvar')"
  (emiteTotalEntradasESaidas)="retornaTotalEntradasESaida($event)"
  (editRegister)="editRegister($event)"></app-list-register>
</div>
