.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px auto;
  justify-content: space-evenly;
  transform: translateY(-150px);
  transition: opacity 1s ease, transform 1s ease;
}


.card {
  width: 300px;
}

.card-balance {
  border-left: solid 4px hsl(234, 71%, 37%);
}

.card-out {
  border-left: solid 4px #e71818;
}

.card-ent {
  border-left: solid 4px #0de81d;
}


.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title {
  display: flex;
  gap: 4px;
  align-items: center;
}

.mouse {
  cursor: pointer;
}

.slide-down {
  transform: translateY(0);
}

@media (max-width: 800px) {
  .card {
    width: calc(100% - 40px);
    align-self: center;
  }
}

@media (max-width: 600px) {
  .card-container{
    flex-wrap: wrap;
    margin: 20px auto;
  }
}



