html, body { height: 100%; }
body {
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.money-off {
  color: rgb(255, 80, 80);
}

.money {
  color: rgb(37, 46, 126);
}

.entryies {
  color: rgb(18, 141, 18);
}

@media (max-width: 400px) {
  * {
      font-size: 11px;
    }
}